PORT=
ADMIN_HOST=
ECOM_HOST=
NODE_ENV=
DATABASE_URL=
JWT_SECRET=
GOOGLE_USER=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_REDIRECT_URI=
ADMIN_CONTACT_EMAIL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=